<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CpuBar.pkg</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>x86_64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>F645421641EE90D18AFEC007A43D7F6ABD8F50A5</string>
				<key>dateExpires</key>
				<string>4/8/19</string>
				<key>type</key>
				<string>Mac App Distribution</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>com.apple.security.app-sandbox</key>
				<true/>
				<key>com.apple.security.network.client</key>
				<true/>
			</dict>
			<key>name</key>
			<string>CpuBar.app</string>
			<key>symbols</key>
			<true/>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>VG88K3PDF4</string>
				<key>name</key>
				<string>Chris Bigart</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
